$black: #000000;
$white: #ffffff;
$light-green: #4e7e78;
$alpha-green: rgba(43, 84, 79, 0.6);
$white-bg: #f3f1f1;
$header-bg:#0f2339;
$hamburger-line: #46a0b6;
$hamburger-bg:#122b46;
$hamburger-bg-opacity-mob:rgba(18, 43, 70,95%);
$hamburger-bg-opacity-tab:rgba(18, 43, 70,80%);
$btn-bg: #2b6e8d;
$solution-bg: #01516d;
$wonderful-bg: #fef3e7;
$heading-color:#00516d;
$expert-bg: #0e1d38;
$footer-text:#00a2bc;
$social-cl:#61a5c3;
$choose-bg:#00506c;
$social-bg:#1c415d;
$banner-bg-cl:#3a869b;
$shadow-blue:#2e6b8a;
$shadow-lg-blue:#76a1b1;
$shadow-pink:#77257a;
$shadow-dark-blue:#05162a;
$shadow-blue-dark:#10243f;
$shadow-bl-da:#112641;
$shadow-da-bl:#10223d;
$shadow-lg-bl:#4a7d91;
$shadow-bl:#0b112c;